@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --black: #232628;
  --orange: #FAB637; 
  --red: #FF4848;
  --marron: #CC6119;
  --gray: #ECEFF3;
  --darkgrey: #464e53;
  --white: #FFFFFF;
  --blue: #6C98E1;
  --middlegrey: #888888;
}

.body, html {
  margin: 0;
  padding: 0;
}

.h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif;   
}

.p {
  font-family: 'Open-sans', sans-serif;
}

.headerAndFooter {
  background-color: #232628;
  color: white;
  padding: 20px 0 0 150px;
  display: flex;
  justify-content: center, space-between;
  align-items: center, top;
  gap: 40px;
}

#titre {
  flex: 1;
}

#adresse,
#telephone,
#horaires {
  flex: 2;
  padding: 0px;
  display: flex;
  align-items: center, top;
  flex-wrap: nonwrap;
  gap: 10px;
}

#adresse span,
#telephone span,
#horaires span {
  font-size: 13px; 
}

#adresse p {
  font-size: 13px;
}

#telephone p,
#horaires p {
  font-size: 13px;
}

#adresse img,
#telephone img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 20px;
}

.orange-text {
  color:var(--marron);
}

#socialMedia {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center, top;
  padding-right: 200px;
}

#socialMedia i {
  margin-right: 40px;
  font-size: 24px;
}

ul.mainNav{
  list-style: none;
  margin : 0 0 0;
  padding: 20px 160px;
  background-color: var(--middlegrey); 
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

ul.mainNav li {
  padding-right: 30px;
}

ul.mainNav li a {
  text-decoration: none;
  color:#232628;
  padding: 20px; 
  margin-right: 17px;
  transition: background-color 0.3s;
}

ul.mainNav li a:hover {
  background-color: var(--marron);
  color: var(--white);
}

.background-image-cars {
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.bandeau{
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  padding-left: 100px;
}

.orange-text {
  color: darkorange;
}
.client-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 120px;
}

.entretien-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 100px;
}

.content.client{
  padding: 30px;
  padding-right: 70px;
}

.image-clients {
  width: 50%;
  padding: 30px;
  padding-left: 130px;
}

.image-entretien {
  width: 50%;
  padding: 30px;
  padding-right: 130px;
}

.content-entretien{
  padding: 30px;
  padding-right: 70px;
}

.bullet {
  list-style-type: none;
}

.background-image {
  position: relative;
  overflow: hidden;
  height: 50vh;
  z-index: 1;
}

.background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-location-vente {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.content-location {
  flex: 1;
  padding: 30px;
  background-color: rgba(255, 165, 0, 0.6);
  margin: 10%;
  z-index: 3;
  position: relative;
}

.content-vente {
  flex: 1;
  padding: 30px;
  background-color: rgba(255, 0, 0, 0.6);
  margin: 10%;
  z-index: 3;
  position: relative;
}

.content-location h4,
.content-vente h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
  opacity: 1;
}

.content-location p,
.content-vente p {
  margin: 0;
  color: white;
  font-size: 15px;
  opacity: 1;
}


.content-location,
.content-vente {
    flex: 1;
    padding: 30px;
    gap: 30px;
    position: relative;
  }

.content-location h4,
.content-vente h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: black
    opacity: 1;
}

.content-location p,
.content-vente p {
    margin: 0;
    color: var(--white);
    font-size: 15px;
    opacity: 1;
}

.vehiculesrecents {
  background-color: var(--black);
}

.vehiculesrecents {
  background-color: var(--black);
  text-align: center;
}

.vehicules-title {
  padding: 30px;
  color: var(--white);
  margin-bottom: 10px;
  margin-top: 0;
}

.container-carrousel {
  display: flex;
  justify-content: center; 
  gap: 20px;
  border-top: 2px solid var(--orange);
  width: 70%;
  margin: 0 auto;
}

.carrousel-item1,
.carrousel-item2,
.carrousel-item3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; 
  color: white; 
  margin: 40px;
}

.carrousel-item1 img,
.carrousel-item2 img,
.carrousel-item3 img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
  margin-bottom: 10px;
}

.container-text {
  display: flex;
  background-color: rgba(236, 239, 243, 0.1);
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid var(--middlegrey);
}

.container-text span {
  font-size: 12px;
  text-align: left;
  flex: 1;
  font-weight: bold;
  padding-left: -90px;
}

.container-text p {
  margin: 2px;
  background-color: var(--blue);
  flex: 2;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px
}

.barré span {
  text-align: center;
  color: black;
  text-decoration: line-through;
  display: flex;
  background-color: var(--blue);
  margin-bottom: -10px;
  padding-top: 2px;
  padding-right: -2px;
  padding-left: 7px;
  font-size: 10px;
}

.center-text {
  text-align: center;
  padding: 10px;
}

#tableau {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon {
  display: flex;
  justify-content: space-between;
  flex: 2;
  padding: 30px;
  display: flex;
  align-items: center, top;
  flex-wrap: wrap;
}

#titre {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

#lorem-tableau {
  padding-left: 70px;
 }

.custom-button {
    display: inline-block;
    background-color:var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 40px;

  }

  .blue-text {
    color: var(--blue);
  }

  .icon-container {
    display: inline-block;
    background-color: #CC6119;
    padding: 3px;
    padding-bottom: 0;
}

.icon-container i {
    color: #ffffff;
}

#socialMediaFooter{
  display: flex;
  gap: 20px;
}

.line {
  border-top: 0.5px solid var(--white);
}

  #copyright {
    background-color: #232628;
    text-align: center;
    color: var(--white);
    padding: 20px
  }